.customHeading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.dashboardHeader{
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 88%); */
    background: rgb(0,56,149);
    background: linear-gradient(90deg, rgba(0,56,149,1) 16%, rgba(19,4,101,1) 60%);
}

#forecast div div {
    height: auto;
}
